/* * * Use this file to override Materialize files so you can update * the core Materialize files in the future * * Made By MaterializeCSS.com */

*/ .nav-wrapper container {
    margin-left: auto;
}

nav ul a,
nav .brand-logo {
    color: #444;
    margin-left: 0 auto;
}

#logo-container {
    margin: 0 auto;
}

#topcontainer {
    height: 200px;
}

#doctorsearch {
    text-align: center;
}

#doctorsearchresults {
    display: table;
    overflow: scroll;
}

#walmartsearch {
    text-align: center;
}

#eventsearch {
    text-align: center;
}

p {
    line-height: 2rem;
}

.sidenav-trigger {
    color: #26a69a;
}

.parallax-container {
    min-height: 380px;
    line-height: 0;
    height: auto;
    color: rgba(116, 240, 178, 0.9);
}

.parallax-container .section {
    width: 100%;
}

@media only screen and (max-width: 992px) {
    .parallax-container .section {
        position: absolute;
        top: 40%;
    }
    #index-banner .section {
        top: 10%;
    }
}

@media only screen and (max-width: 600px) {
    #index-banner .section {
        top: 0;
    }
}

.icon-block {
    padding: 0 15px;
}

.icon-block .material-icons {
    font-size: inherit;
}

footer.page-footer {
    margin: 0;
}

h5 {
    text-align: center;
}

.bio {
    text-align: center;
}

img {
    display: block;
    margin: auto;
}

.footer-copyright {
    text-align: center;
}

#linkicons {
    display: inline;
}