        /* * * Use this file to override Materialize files so you can update * the core Materialize files in the future * * Made By MaterializeCSS.com */
        
        */ .nav-wrapper container {
            margin-left: auto;
        }
        
        nav ul a,
        nav .brand-logo {
            color: #444;
            margin-left: 0 auto;
        }
        
        #logo-container {
            margin: 0 auto;
        }
        
        #topcontainer {
            height: 200px;
        }
        
        #doctorsearch {
            text-align: center;
        }
        
        #doctorsearchresults {
            display: table;
            overflow: scroll;
        }
        
        #walmartsearch {
            text-align: center;
        }
        
        #eventssearch {
            text-align: center;
        }
        
        p {
            line-height: 2rem;
        }
        
        .sidenav-trigger {
            color: #26a69a;
        }
        
        .parallax-container {
            min-height: 380px;
            line-height: 0;
            height: auto;
            color: #26a69a;
        }
        
        .parallax-container .section {
            width: 100%;
        }
        
        @media only screen and (max-width: 992px) {
            .parallax-container .section {
                position: absolute;
                top: 40%;
            }
            #index-banner .section {
                top: 10%;
            }
        }
        
        @media only screen and (max-width: 600px) {
            #index-banner .section {
                top: 0;
            }
        }
        
        .icon-block {
            padding: 0 15px;
        }
        
        .icon-block .material-icons {
            font-size: inherit;
        }
        
        .page-footer {
            margin: 0;
            background-color: #009688;
        }
        
        .page-footer .container {
            width: 100%;
        }
        
        h2 {
            font-family: 'Comfortaa', cursive;
            font-style: bold;
            font-size: 34px;
            font-weight: bold;
        }
        
        #topphototext {
            font-family: 'Comfortaa', cursive;
            background-blend-mode: luminosity;
            text-shadow: 2px 2px rgb(17, 17, 17);
            color: #60b286;
            font-weight: bold;
            font-size: 34px;
        }
        
        #bottomphototext {
            font-family: 'Comfortaa', cursive;
            background-blend-mode: luminosity;
            text-shadow: 2px 2px rgb(17, 17, 17);
            color: #60b286;
            font-weight: bold;
            font-size: 34px;
        }
        
        #developers {
            font-family: 'Comfortaa', cursive;
            font-style: bold;
            font-size: 34px;
            font-weight: bold;
        }
        
        h5 {
            font-family: 'Comfortaa', cursive;
            background-blend-mode: luminosity;
            text-shadow: 2px 2px rgb(17, 17, 17);
            color: #60b286;
            font-weight: bold;
            font-size: 34px;
        }
        
        .bio {
            text-align: center;
        }
        
        #aboutus {
            font-family: 'Comfortaa', cursive;
            font-weight: bold;
            text-align: center;
        }
        
        img {
            display: block;
            margin: auto;
        }
        
        .footer-copyright {
            text-align: center;
        }
        
        #linkicons {
            display: inline;
        }